*{
  box-sizing:border-box;
}

.disk{
  border:1px solid;
  margin-right: auto;
  margin-left: auto;
  background:grey;
}

.placeholder{
}

.tower{
  float: left;
  width: 33%;
  height: 100%;
  border:1px solid;
}